
/*

main

*/
.main-div-displayUsersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.map-div {
  display: flex;
  overflow:visible;
  flex-direction: column;
  align-items: center;
  width: 95%;
  /* height:100%; */
  background: transparent;
  padding: 16px;
  overflow: auto;
  min-height: 300px;
  height: 100%;
  /* padding-top: 440px; */
  border-radius: 12px;
  margin-bottom: 20px;
  transition: all 450ms ease;
}
.map-div:hover {
  overflow-x:hidden;
  transform: scale(1.02);
  box-shadow: 7px 8px 15px #010535c9;
}
.students-df {
  padding: 16px;
  overflow:hidden;
  display: flex;
  width: 100%;
  padding-top:12px;
  align-items: center;
  justify-content: space-between;
  overflow:hidden;
 
}
/*

row

*/
.student-div {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  align-items: center;
  display: grid;
  min-height: 95px;
  overflow: visible;
  grid-template-columns: 200px repeat(6, 1fr) 150px;
  /* margin: 1.5em 0; */
  transition: all 300ms ease;
  /* background: linear-gradient(90deg, var(--lightBlue) 15.34%, #2280de 100.78%); */
  background: linear-gradient(180deg, var(--lightBlue) 15.34%, #2280de 100.78%);
  border-radius: 18px;
  margin: 6px ;
  padding: 8px;
  height: 85px;
  padding-bottom:6px;
  margin-bottom: 12px;
}
.student-div:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 10px #010535c9;
}
.student-div-right {
  text-align: center;
  align-items: center;
  padding: 8px;
}

.student-div-middle {
  text-align: center;
  align-items: center;
  /* margin-left: 8px; */
}

.student-div-middle-2 {
  text-align: center;
  align-items: center;
  padding: 8px;
  /* margin-right: 8px; */
}
.student-div-middle-2 button {
  margin-right: 10px;
}

.student-div-middle-3 {
  display: flex;
 flex-direction:column;
 align-items: center;
 justify-content: center;
  padding:10px;
}


.student-div-middle-4 {
  height:90%;
  display: flex;
 flex-direction:column;
 align-items: center;
 justify-content: center;
text-align:center;
}

.student-div-middle-5 {
 display: flex;
 flex-direction:column;
 align-items: center;
 height:90%;
 justify-content: center;
 text-align:center;
}


.price-paid {
  color: rgb(39, 11, 153);
}

.price-not-paid {
  color: rgb(147, 9, 9);
}

.student-div-left {
  margin-left: 0.5em;
}
#number {
  width: 40%;
  text-align: left;
  align-items:center;
  font-size: 16px;
}
#name {
  width: 100%;
}
.map-div p {
  /* width: 70%; */
  font-size: 18px;
  font-weight: 600;
}
.map-div button {
  font-size: var(--fs-300);
}
.btn {
  padding: 4px 12px;
  border-radius: 16px;
  border: none;
  /* background: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100.78%); */
  font-size: 15px;
  margin: 6px;
  min-width: 50px;
}

.shadow-none:hover {
  box-shadow:unset!important;
}

.student-div-right button {
  min-width: 100px;
  padding: 4px;
  margin-right: 8px;
}
.student-div-right button {
  min-width: 100px;
  padding: 4px;
  margin-right: 8px;
}
.df-users-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*

selector

*/
.selector-title {
  margin-left:40px;
  font-size: var(--fs-700);
}
.student-select {
  width: 150px;
  height: 2.5rem;
  padding-left: 2px;
  border-radius: 6px;
  background: transparent;
  text-align: center;
  font-weight: 600;
  -webkit-appearance: none;
  border: none;
  outline: none;
  margin-top: 8px;
  transition: all 450ms ease;
  margin-bottom: 8px;
}
.caret {
  position: absolute;
  top: 10;
  right: 0;
  margin: 0;
  padding: 0;
  margin-right: 6px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #242424;
  transition: 0.3s;
}
.selector-caret {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, var(--button-firstColor) 15.34%, var(--button-secondColor) 100.78%);
  border-radius: 16px;
  height: 40px;
  margin: 20px 0;
  overflow: hidden;
  transition: all 450ms ease;
}
.selector-caret:hover {
  /* transform: scale(1.05); */
  box-shadow: 6px 3px 10px #010535c9;
}
select option {
  background: #86d9ff;
  font-weight: 600;
}


/* .student-select-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.icon-button-div{
  width: 150px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-icon {
  padding: 6px 16px;
  
}

.data-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  width:100%;
  padding:20px 0px;
}

.data{
  transition: all 450ms ease;
  /* margin:0 12px; */
  font-size:17px;
  width:100%;
  font-weight:600;
  padding:8px 24px;
  margin:36px 12px 12px 12px;
  /* min-width:40%; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, var(--lightBlue) 15.34%, #2280de 100.78%);
  border-radius:48px;
  max-width:410px!important;
}

.data:hover {
  transform: scale(1.04);
  box-shadow: 6px 3px 10px #010535c9;
}
.padding-right{
 display: flex;
 align-items: center;
 justify-content: center;
}
@media only screen and (max-width: 1206px) {
  .student-div-middle-title{
   margin-left:4px!important;
   margin-right:4px!important;
   max-width:80px;
  }
}
@media only screen and (max-width: 950px) {
  .map-div p{
    
    font-size: 14px;
  }
}
