
.menu__money--div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__money--div p {
  font-size: var(--fs-550);
  text-align:left;
  margin-left:24px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
 
}
.display-flex {
  display: block;
  /* flex-wrap: wrap; */
  /* justify-content: left; */
  /* align-items: left; */
  width: 50%;
  /* margin-right:24px; */
  /* max-width: 470px; */
}
.display-flex-two {
  display: flex;
  margin-top: 36px;
  justify-content: start;
  align-items: start;
  width: 50%;
  /* max-width: 470px; */
}
.menu-display-flex {
  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}
.margin--left {
  margin-top: 10px;
  text-align: right;
}

.menu__money--div .button {
  margin-top:24px;
}
.menu--display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-menu{
  width: 10%;
}

@media only screen and (max-width: 1012px) {
  .menu__money--div p {
    font-size: var(--fs-530);
    text-align:left;
    font-weight: 600;
     max-width:400px;
  }
  .menu__money--div .button {
    margin-bottom: 12px;
  }
  .display-flex-two {
    max-width: 400px;
  }
}
@media only screen and (max-width: 845px) {
  .menu__money--div p {
    font-size: var(--fs-530);
    text-align:left;
    height: 100%;
    font-weight: 600;
  }
  .display-flex {
    max-width: 350px;
  }
}
